/* UTILITIES */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 113px;
}

body {
    font-weight: bold;
    padding-top: 113px;
}

/* NAV BAR */

.main-header {
    padding: 20px 0;
    background: #fff;
}

.main-header .padding-ta {
    padding: 11px 12px;
}

.main-header .padding-ta1 {
    padding: 5px 0;
}

/* LOGO */

.main-header img {
    width: 200px;
    cursor: pointer;
}

/* HAMBURGER MENU */

.main-header .hamburger {
    color: #2687fd;
    font-size: 24px;
    padding-top: 7px;
}

.main-header .hamburger:hover {
    cursor: pointer;
}

/* NAV LISTS */

.main-header .list-inline li>i {
    font-size: 14px;
    color: #0a2253;
    padding-left: 5px;
    cursor: pointer;
}

.main-header .list-inline li>a {
    color: #0a2253;
    font-size: 16px;
}

.main-header .list-inline .btn {
    border: 1px solid #2687fd;
    color: #2687fd;
    font-weight: bold;
}

/* HOVER INTERACTIONS */

.main-header .list-inline li>i:hover {
    color: #2687fd;
}

.main-header .list-inline li>a:hover {
    text-decoration: none;
    color: #2687fd;
}

.main-header .list-inline .btn:hover {
    background: rgba(10,34,83, .3);
}

/* JUMBOTRON */

.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: contain;
    margin-bottom: 0;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    font-size: 33px;
}

.jumbotron p {
    color: #727d98;
    font-size: 26px;
}

/* FORM */

.jumbotron .form {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 30px 0;
}

.jumbotron .form h2 {
    font-weight: bold;
    color: #0a2253;
}

.jumbotron mark {
    background: transparent;
    color: #2687fd;
}

/* INPUTS */

.jumbotron .input-ta {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #eee;
}   

.jumbotron .input-ta.input-ta2 {
    margin: 10px 0;
}

/* GOOGLE IMG */

.jumbotron .form img {
    width: 3%;
    position: absolute;
    left: 5px;
    top: 5px;
}

/* BUTTONS */

.jumbotron .form .btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.jumbotron .form .btn-primary {
    background: #579aff;
    border: 1px solid #579aff;
}

.jumbotron .form .btn-ta {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: .3px .3px #3e3e3e;
}

/* UNDER BUTTONS TEXT */

.jumbotron .form a {
    color: #2687fd;
    text-decoration: underline;
}

.jumbotron .form p {
    font-size: 15px;
}

/* BREAK POINT IMG GOOGLE ICON*/

@media screen and (min-width: 768px) {
    .jumbotron .form img {
    width: 10%;
    position: absolute;
    left: 6px;
    top: 4px;
}
}

@media screen and (min-width: 992px) {
    .jumbotron .form img {
    width: 6%;
    position: absolute;
    left: 6px;
    top: 4px;
}
}

@media screen and (min-width: 1200px) {
    .jumbotron .form img {
    width: 5%;
    position: absolute;
    left: 8px;
    top: 4px;
}
}

/* SECTION IMGS */

.img-section {
    background: #f3f5f9;
}

.img-section h4 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #707c98;
}

.img-section .img-content a {
    display: block;
    margin-bottom: 30px;
    color: #2687fd;
    cursor: pointer;
}

.img-section .img-content a>i {
    margin-left: 5px;
    font-size: 10px;
    vertical-align: middle;
    color: #2687fd;
    cursor: pointer;
}

.img-section .img-content img {
    margin: 0 10px;
    width: calc((100% / 2) - 44px);
    height: auto;
    cursor: pointer;
}

/* HOVER INTERACTIONS */

.img-section .img-content a:hover {
    color: #0a2253;
    text-decoration: none;
}

.img-section .img-content a>i:hover {
    color: #0a2253;
}

/* BREAK POINT IMG */

@media screen and (min-width: 768px) {
    .img-section .img-content img {
        width: calc((100% / 6) - 24px);
    }
}

/* DEPLOY SECTION */

.deploy {
    margin-bottom: 40px;
}

.deploy h2 {
    margin-top: 50px;
    font-weight: bold;
    color: #0a2253;
    font-size: 40px;
}

.deploy p {
    color: #5c6a88;
    font-size: 24px;
}

.deploy .deploy-list>li {
    list-style: none;
    text-align: left;
    font-size: 22px;
    color: #5c6a88;
    line-height: 50px;
}

.deploy .deploy-list>li::before {
    content: '';
    border-left: 2px solid #ccc;
    position: relative;
    left: -25px;
    padding-bottom: 18px;
    padding-top: 10px;
}

.deploy h4 {
    margin: 15px 0;
    color: #0a2253;
    font-size: 20px;
    font-weight: bold;
}

.deploy .img-text {
    font-size: 13px;
}

/* SLIDER SECTION */

.slider {
    position: relative;
    background: #f3f5f9;
    padding-top: 30px;
    padding-bottom: 30px;
}

.slider h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0a2253;
}

.slider p {
    font-size: 19px;
    color: #5c6a88;
}

.slider .slide-txt {
    margin-top: 30px;
    font-size: 14px;
    color: #0a2253;
}

.slider a {
    display: none;
    font-size: 60px;
}

.slider .slide {
    position: relative;
    width: 40%;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
}

.slider .slide-content {
    margin-top: 120px;
    margin-bottom: 50px;
}

.slider .list-inline .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #2687fd;
    cursor: pointer;
}

.slider .list-inline .full-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2687fd;
    border: 1px solid #2687fd;
    cursor: pointer;
}

/* BREAK POINT SLIDER SECTION */

@media screen and (min-width: 768px) {
    .slider .slide {
        width: 60%;
    }

    .slider .slide-content {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .slider a {
        display: initial;
    }

    .slider .slide-content .angle-left {
        position: absolute;
        left: -50px;
        top: 58%;
        color: #5c6a88;
    }

    .slider .slide-content .angle-right {
        position: absolute;
        right: -50px;
        top: 58%;
        color: #0a2253;
    }
}

/* FEATURES SECTION */

.features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #0a2253;
}

.features h3 {
    font-size: 24px;
    font-weight: bold;
    color: #0a2253;
}

.features p {
    font-size: 18px;
    color: #5c6a88;
}

.features .mrgn-bottom {
    margin-bottom: 30px;
}

.features a {
    color: #2687fd;
}

.features i {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 20px;
}

/* HOVER INTERACTIONS */

.features a:hover {
    text-decoration: none;
    color: #0a2253;
}

/* SECTION SERVICE */

.service {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #0047c5;
}

.service h2 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.service .border-bottom {
    border-bottom: 1px solid #fff;
}

.service .white-txt {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

.service p {
    font-size: 11px;
    color: #bbc9eb;
}

.service a {
    font-size: 10px;
    color: #00d7d2;
}

.service i {
    font-size: 10px;
    color: #00d7d2;
}

.service .line-eight {
    line-height: 20px;
}

.service .pd-top {
    padding-top: 20px;
}

.service .pd-left {
    padding-left: 0;
}

.service .l-border-bottom {
    border-bottom: 0;
}

.service .mrgn-top {
    margin-top: 20px;
}

.service a:hover {
    text-decoration: none;
}

/* DEVELOPER SECTION */

.developer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f3f5f9;
}

.developer h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0a2253;
}

.developer .rockerbox {
    position: relative;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}

.developer p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: #5c6a88;
}

.developer .author {
    display: block;
    font-size: 18px;
    color: #0a2253;
}

.developer .role {
    display: block;
    font-size: 18px;
    color: #0a2253;
    font-weight: 300;
    margin-bottom: 30px;
}

.developer a {
    text-decoration: none;
    color: #2687fd;
}

.developer .rockerbox img {
    padding-top: 20px;
}

.developer .arrow {
    vertical-align: middle;
    color: #2687fd;
    margin-left: 10px;
}

.developer .left .angle-left,
.developer .right .angle-right {
    display: none;
    font-size: 60px;
}

.developer .list-inline .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #2687fd;
    cursor: pointer;
}

.developer .list-inline .full-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2687fd;
    border: 1px solid #2687fd;
    cursor: pointer;
}

/* DEVELOPER SECTION HOVER INTERACTIONS */

.developer .rockerbox a:hover,
.developer .rockerbox i:hover {
    color: #0a2253;
}

/* BREAK POINT DEVELOPER SECTION */

@media screen and (min-width: 768px) {
    .developer .rockerbox {
        width: 60%;
    }
    .developer .rockerbox img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .developer .left .angle-left,
    .developer .right .angle-right {
        display: initial;
    }

    .developer .left .angle-left {
        position: absolute;
        left: -50px;
        top: 58%;
        color: #5c6a88;
    }

    .developer .right .angle-right {
        position: absolute;
        right: -50px;
        top: 58%;
        color: #0a2253;
    }
}

/* START NOW SECTION */

.start-now {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(#0041bb, #00219c);
}

.start-now h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.start-now .btn {
    padding: 13px;
    color: #2687fd;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

/* FOOTER */

.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #031c4e;
}

.main-footer img {
    margin-bottom: 20px;
}

.main-footer span {
    font-size: 16px;
    display: block;
    color: #727d98;
}

.main-footer i {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #727d98;
    cursor: pointer;
}

.main-footer h4 {
    font-size: 20px;
    color: #fff;
}

.main-footer .list>li {
    list-style: none;
    margin-left: -35px;
}

.main-footer .list>li>a {
    color: #727d98;
}


/*
service  p=12px
col-2
col-5
col-3 offset-2*/