/* UTILITIES */

body {
    font-weight: bold;
}

/* NAV BAR */

.main-header {
    padding: 20px 0;
}

.main-header .padding-ta {
    padding: 11px 12px;
}

.main-header .padding-ta1 {
    padding: 5px 0;
}

/* LOGO */

.main-header img {
    width: 200px;
    cursor: pointer;
}

/* HAMBURGER MENU */

.main-header .hamburger {
    color: #2687fd;
    font-size: 24px;
    padding-top: 7px;
}

.main-header .hamburger:hover {
    cursor: pointer;
}

/* NAV LISTS */

.main-header .list-inline li>i {
    font-size: 14px;
    color: #0a2253;
    padding-left: 5px;
    cursor: pointer;
}

.main-header .list-inline li>a {
    color: #0a2253;
    font-size: 16px;
}

.main-header .list-inline .btn {
    border: 1px solid #2687fd;
    color: #2687fd;
    font-weight: bold;
}

/* HOVER INTERACTIONS */

.main-header .list-inline li>i:hover {
    color: #2687fd;
}

.main-header .list-inline li>a:hover {
    text-decoration: none;
    color: #2687fd;
}

.main-header .list-inline .btn:hover {
    background: rgba(10,34,83, .3);
}

/* JUMBOTRON */

.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: contain;
    margin-bottom: 0;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    font-size: 33px;
}

.jumbotron p {
    color: #0a2253;
    font-size: 26px;
}

/* FORM */

.jumbotron .form {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 30px 0;
}

.jumbotron .form h2 {
    font-weight: bold;
    color: #0a2253;
}

.jumbotron mark {
    background: transparent;
    color: #2687fd;
}

/* INPUTS */

.jumbotron .input-ta {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #eee;
}   

.jumbotron .input-ta.input-ta2 {
    margin: 10px 0;
}

/* GOOGLE IMG */

.jumbotron .form img {
    width: 3%;
    position: absolute;
    left: 5px;
    top: 5px;
}

/* BUTTONS */

.jumbotron .form .btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.jumbotron .form .btn-primary {
    background: #579aff;
    border: 1px solid #579aff;
}

.jumbotron .form .btn-ta {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: .3px .3px #3e3e3e;
}

/* UNDER BUTTONS TEXT */

.jumbotron .form a {
    color: #2687fd;
    text-decoration: underline;
}

.jumbotron .form p {
    font-size: 15px;
}

/* BREAK POINT IMG GOOGLE ICON*/

@media screen and (min-width: 768px) {
    .jumbotron .form img {
    width: 10%;
    position: absolute;
    left: 6px;
    top: 4px;
}
}

@media screen and (min-width: 992px) {
    .jumbotron .form img {
    width: 6%;
    position: absolute;
    left: 6px;
    top: 4px;
}
}

@media screen and (min-width: 1200px) {
    .jumbotron .form img {
    width: 5%;
    position: absolute;
    left: 8px;
    top: 4px;
}
}

/* SECTION IMGS */

.img-section {
    background: #f3f5f9;
}

.img-section h4 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #707c98;
}

.img-section .img-content a {
    display: block;
    margin-bottom: 30px;
    color: #2687fd;
    cursor: pointer;
}

.img-section .img-content a>i {
    margin-left: 5px;
    font-size: 10px;
    vertical-align: middle;
    color: #2687fd;
    cursor: pointer;
}

.img-section .img-content img {
    margin: 20px;
    width: calc((100% / 2) - 50px);
    height: auto;
    cursor: pointer;
}

/* HOVER INTERACTIONS */

.img-section .img-content a:hover {
    color: #0a2253;
    text-decoration: none;
}

.img-section .img-content a>i:hover {
    color: #0a2253;
}

/* BREAK POINT IMG */

@media screen and (min-width: 768px) {
    .img-section .img-content img {
        width: calc((100% / 6) - 44px);

    }
}
